highlight/highlight_system/Connected Services/ServiceReferencePlot/singlepanelplot.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://singlepanelplotting.aseglobal.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://singlepanelplotting.aseglobal.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://singlepanelplotting.aseglobal.com/">
      <s:element name="GetNowTime">
        <s:complexType />
      </s:element>
      <s:element name="GetNowTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNowTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Plot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="macid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lotnum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="defectcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlotResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PlotResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Plot_Alldefect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="macid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lotnum" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Plot_AlldefectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Plot_AlldefectResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Plot_SinglePanel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="macid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lotnum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="piece_num" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="defectcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Plot_SinglePanelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Plot_SinglePanelResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Plot_AllSinglePanel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="site" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="macid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lotnum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="defectcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Plot_AllSinglePanelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Plot_AllSinglePanelResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetNowTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetNowTime" />
  </wsdl:message>
  <wsdl:message name="GetNowTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetNowTimeResponse" />
  </wsdl:message>
  <wsdl:message name="PlotSoapIn">
    <wsdl:part name="parameters" element="tns:Plot" />
  </wsdl:message>
  <wsdl:message name="PlotSoapOut">
    <wsdl:part name="parameters" element="tns:PlotResponse" />
  </wsdl:message>
  <wsdl:message name="Plot_AlldefectSoapIn">
    <wsdl:part name="parameters" element="tns:Plot_Alldefect" />
  </wsdl:message>
  <wsdl:message name="Plot_AlldefectSoapOut">
    <wsdl:part name="parameters" element="tns:Plot_AlldefectResponse" />
  </wsdl:message>
  <wsdl:message name="Plot_SinglePanelSoapIn">
    <wsdl:part name="parameters" element="tns:Plot_SinglePanel" />
  </wsdl:message>
  <wsdl:message name="Plot_SinglePanelSoapOut">
    <wsdl:part name="parameters" element="tns:Plot_SinglePanelResponse" />
  </wsdl:message>
  <wsdl:message name="Plot_AllSinglePanelSoapIn">
    <wsdl:part name="parameters" element="tns:Plot_AllSinglePanel" />
  </wsdl:message>
  <wsdl:message name="Plot_AllSinglePanelSoapOut">
    <wsdl:part name="parameters" element="tns:Plot_AllSinglePanelResponse" />
  </wsdl:message>
  <wsdl:portType name="SinglePanelPlotSoap">
    <wsdl:operation name="GetNowTime">
      <wsdl:input message="tns:GetNowTimeSoapIn" />
      <wsdl:output message="tns:GetNowTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Plot">
      <wsdl:input message="tns:PlotSoapIn" />
      <wsdl:output message="tns:PlotSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Plot_Alldefect">
      <wsdl:input message="tns:Plot_AlldefectSoapIn" />
      <wsdl:output message="tns:Plot_AlldefectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Plot_SinglePanel">
      <wsdl:input message="tns:Plot_SinglePanelSoapIn" />
      <wsdl:output message="tns:Plot_SinglePanelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Plot_AllSinglePanel">
      <wsdl:input message="tns:Plot_AllSinglePanelSoapIn" />
      <wsdl:output message="tns:Plot_AllSinglePanelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SinglePanelPlotSoap" type="tns:SinglePanelPlotSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNowTime">
      <soap:operation soapAction="http://singlepanelplotting.aseglobal.com/GetNowTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Plot">
      <soap:operation soapAction="http://singlepanelplotting.aseglobal.com/Plot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Plot_Alldefect">
      <soap:operation soapAction="http://singlepanelplotting.aseglobal.com/Plot_Alldefect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Plot_SinglePanel">
      <soap:operation soapAction="http://singlepanelplotting.aseglobal.com/Plot_SinglePanel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Plot_AllSinglePanel">
      <soap:operation soapAction="http://singlepanelplotting.aseglobal.com/Plot_AllSinglePanel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SinglePanelPlotSoap12" type="tns:SinglePanelPlotSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNowTime">
      <soap12:operation soapAction="http://singlepanelplotting.aseglobal.com/GetNowTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Plot">
      <soap12:operation soapAction="http://singlepanelplotting.aseglobal.com/Plot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Plot_Alldefect">
      <soap12:operation soapAction="http://singlepanelplotting.aseglobal.com/Plot_Alldefect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Plot_SinglePanel">
      <soap12:operation soapAction="http://singlepanelplotting.aseglobal.com/Plot_SinglePanel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Plot_AllSinglePanel">
      <soap12:operation soapAction="http://singlepanelplotting.aseglobal.com/Plot_AllSinglePanel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SinglePanelPlot">
    <wsdl:port name="SinglePanelPlotSoap" binding="tns:SinglePanelPlotSoap">
      <soap:address location="http://10.16.22.228:9553/singlepanelplot.asmx" />
    </wsdl:port>
    <wsdl:port name="SinglePanelPlotSoap12" binding="tns:SinglePanelPlotSoap12">
      <soap12:address location="http://10.16.22.228:9553/singlepanelplot.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>