highlight/highlight_system/Connected Services/ServiceReferencePlotMultiLot/MultipleStackMap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="plot_multi_lot_stack_map">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="site" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="defect_code_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lot_list" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="plot_multi_lot_stack_mapResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="plot_multi_lot_stack_mapResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="plot_multi_lot_stack_mapSoapIn">
    <wsdl:part name="parameters" element="tns:plot_multi_lot_stack_map" />
  </wsdl:message>
  <wsdl:message name="plot_multi_lot_stack_mapSoapOut">
    <wsdl:part name="parameters" element="tns:plot_multi_lot_stack_mapResponse" />
  </wsdl:message>
  <wsdl:portType name="MultipleStackMapSoap">
    <wsdl:operation name="plot_multi_lot_stack_map">
      <wsdl:input message="tns:plot_multi_lot_stack_mapSoapIn" />
      <wsdl:output message="tns:plot_multi_lot_stack_mapSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MultipleStackMapSoap" type="tns:MultipleStackMapSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="plot_multi_lot_stack_map">
      <soap:operation soapAction="http://tempuri.org/plot_multi_lot_stack_map" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MultipleStackMapSoap12" type="tns:MultipleStackMapSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="plot_multi_lot_stack_map">
      <soap12:operation soapAction="http://tempuri.org/plot_multi_lot_stack_map" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MultipleStackMap">
    <wsdl:port name="MultipleStackMapSoap" binding="tns:MultipleStackMapSoap">
      <soap:address location="http://10.16.22.228:9554/MultipleStackMap.asmx" />
    </wsdl:port>
    <wsdl:port name="MultipleStackMapSoap12" binding="tns:MultipleStackMapSoap12">
      <soap12:address location="http://10.16.22.228:9554/MultipleStackMap.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>